<h2>Deliveries</h2>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
      <td mat-cell *matCellDef="let delivery"> {{ delivery.timestamp | date:'medium' }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td mat-cell *matCellDef="let delivery">
        <div class="flex-item">
          <span class="material-icons">
            {{ delivery.state | deliveryStateIcon }}
          </span>
          {{ delivery.state | deliveryState | titlecase }} 
        </div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="reward">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reward </th>
      <td mat-cell *matCellDef="let delivery"> {{ delivery.reward }} ETH </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cautionAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Caution Amount </th>
      <td mat-cell *matCellDef="let delivery"> {{ delivery.cautionAmount }} ETH </td>
    </ng-container>

    <ng-container matColumnDef="detailsBtn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let delivery">
        <button mat-icon-button matTooltip="More info about this delviery" matTooltipPosition="right" (click)="openDialog(delivery.hash)">
          <span class="material-icons">
            loupe
          </span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; sticky: true"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
