<div id="flex-container">
    <div class="flex-container-item">
        <span *ngIf="isCheckingConnexion">Checking connexion...</span>
        <app-delivery-list *ngIf="!isCheckingConnexion && isWeb3Initialized"></app-delivery-list>
        <div *ngIf="!isCheckingConnexion && !isWeb3Initialized">
            LINK WALLET PLEASE!
            <button mat-button class="btn-white" (click)="onLinkWallet()">LINK</button>
        </div>
    </div>
    <div class="flex-container-item">
        <app-map></app-map>
    </div>
</div>